<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Storimak</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Icons+Round'>
    <link rel="stylesheet" href="/css/style.css">
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;

            window.location.href = 'nearsearch?lat=' + lat + '&lon=' + lon;
        }
    </script>
</head>

<body>
<div id="userInfo" th:if="${LoggedIn}" style="position:fixed; top:0; right:0;">
    <div  th:text="'Logged in as ' + ${UserName}"></div>
    <a href="/logout" id="logout">Logout</a>
</div>
<!-- partial:index.partial.html -->
<!-- Navbar -->
<nav id="navbar">
    <ul class="navbar-items flexbox-col">
        <li class="navbar-logo flexbox-left">
            <a class="navbar-item-inner flexbox">
                <img src="/images/New_Project.png" alt="logo">
            </a>
        </li>
        <li class="navbar-item flexbox-left">
            <a href="/storimak" class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="home-outline"></ion-icon>
                </div>
                <span class="link-text">Home</span>
            </a>
        </li>
        <li class="navbar-item flexbox-left">
            <a class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="search-outline"></ion-icon>
                </div>
                <span class="link-text">Search</span>
            </a>
        </li>
        <li class="navbar-item flexbox-left">
            <a href="/storimak/about" class="navbar-item-inner flexbox-left">
                <div class="navbar-item-inner-icon-wrapper flexbox">
                    <ion-icon name="people-outline"></ion-icon>
                </div>
                <span class="link-text">About us</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Main -->
<main id="main">
    <div id="search-bar" class="flexbox">
        <div id ="search-input" class="flexbox-col" style="margin-right:150px">
            <form th:method="get" th:action="@{/storimak/search}" accept-charset="UTF-8" class="bg-white p-4 shadow-sm rounded">
                <div class="form-group d-flex">
                    <input type="text" class="form-control" name="search_str" placeholder="Search">
                    <button type="submit" class="btn btn-success ml-2">Search</button>
                </div>
            </form>
        </div>
        <div id="nearby-search" class="flexbox-col">
            <b>Search By Location</b>
            <form th:method="get" th:action="@{/storimak/nearsearch}" accept-charset="UTF-8">
                <label style="height:25px;">Latitude:</label>
                <input id="lat-input" type="text" name="lat" style="width:100px;height:20px;">
                <br>
                <label style="height:25px;">Longitude:</label>
                <input id="lon-input" type="text" name="lon" style="width:100px;height:20px;" >
                <br>
                <button type="submit" class="btn btn-success ml-2">Search</button>
            </form>
            <a onclick="getLocation()" style="align-self: flex-start">Near You</a>
        </div>
    </div>
    <h3 class="flexbox-col-start-center">Search Results:</h3>
    <div id="results" class="flexbox">
        <div th:if="${places.isEmpty()}" class="flexbox" style="align-self: flex-start">
            <h5 style="margin-top:10px;">No Places Found :(</h5>
        </div>
        <div  id="results-list" style="max-width:30%;height:600px; overflow-y: auto;">
            <ul th:if="${!places.isEmpty() && !nearby}">
                <li th:each="place : ${places}" ><a th:text="${place.getName()}" th:href="@{'/storimak/search?search_str=' + ${searchstr} + '&placeId=' + ${place.getID()}}" class="btn btn-success"></a></li>
            </ul>
            <ul th:if="${!places.isEmpty() && nearby}">
                <li th:each="place : ${places}" ><a th:text="${place.getName()}" th:href="@{'/storimak/nearsearch?lat='+ ${lat} + '&lon=' + ${lon} + '&placeId=' + ${place.getID()}}" class="btn btn-success"></a></li>
            </ul>
        </div>
        <div th:if="${!places.isEmpty()}" id=results-map class="flexbox-col" style="height:600px;">
            <iframe th:src="${mapsrc}" width="600px" height="100%" frameborder="0" style="border:0"></iframe>
        </div>
        <div th:if="${place != null}" id="place-info" class="flexbox-col" style="justify-content:flex-start;align-items:flex-start;max-width:30%;height:600px; overflow-y: auto;">
            <p th:if="${!place.getName().isEmpty()}" th:text="${'Name: ' + place.getName()}"></p>
            <p th:if="${!place.getNameEnglish().isEmpty()}" th:text="${'English Name: ' + place.getNameEnglish()}">
            <p th:if="${!place.getWebsite().isEmpty()}" th:text="${'Website: ' + place.getWebsite()}"></p>
            <p th:if="${!place.getCity().isEmpty()}" th:text="${'City: ' + place.getCity()}"></p>
            <p th:if="${!place.getPhone_number().isEmpty()}" th:text="${'Contact Phone: ' + place.getPhone_number()}"></p>
            <p th:if="${!place.getOpening_hours().isEmpty()}" th:text="${'Opening Hours: ' + place.getOpening_hours()}"></p>
            </br>
            <p th:if="${!place.getDescription().isEmpty()}" th:text="${'Description: ' + place.getDescription()()}">
        </div>
    </div>
</main>
<!-- partial -->
<script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js'></script>
<script src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js'></script>
</body>
</html>
